:root {
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #303030;
  --secondary-text-color-theme-dark: #9da4bd;
  --secondary-text-color-theme-light: #555555;
  --accent-color: #ff6c00;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* ================= COMPONENTS ================= */
.modal-btn {
  min-width: 160px;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
}

.modal-btn-theme-light {
  color: var(--primary-text-color-theme-light);
}

.modal-btn-theme-dark {
  color: var(--primary-text-color-theme-dark);
}

.media-list {
  display: flex;
  column-gap: 40px;
}

.media-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-light);
}

.media-list-link:hover,
.media-list-link:focus {
  color: var(--accent-color);
}

.suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.suptitle-theme-dark {
  color: var(--secondary-text-color-theme-dark);
}

.suptitle-theme-light {
  color: var(--primary-text-color-theme-light);
}

.main-title {
  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.section-description-theme-light {
  color: var(--secondary-text-color-theme-light);
}

.section-description-theme-dark {
  color: var(--secondary-text-color-theme-dark);
}

.title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.title-theme-dark {
  color: var(--primary-text-color-theme-dark);
  margin-bottom: 44px;
}

.title-theme-light {
  color: var(--primary-text-color-theme-light);
  margin-bottom: 20px;
}
/* ================= /COMPONENTS ================= */

/* ================= HEADER ================= */
.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-navigation {
  display: flex;
  align-items: center;
  column-gap: 70px;
}

.menu {
  display: flex;
  column-gap: 40px;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-phone-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: 40px;
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}
/* ================= /HEADER ================= */

/* ================= HERO ================= */
.hero-container {
  display: flex;
}

.hero-left-side {
  width: 100px;
}

.hero-right-side {
  flex-grow: 1;
  padding-left: 100px;
  padding-bottom: 206px;
  padding-top: 272px;
}

.hero-section-description {
  width: 400px;
}
/* ================= /HERO ================= */

/* ================= ABOUT ================= */
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
}
/* ================= /ABOUT ================= */

/* ================= SERVICES ================= */
.services-table-name,
.services-table-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
/* ================= /SERVICES ================= */

/* ================= ADVANTAGES ================= */
.advantages-list-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--primary-text-color-theme-light);
}

.advantages-list-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--primary-text-color-theme-light);
}
/* ================= /ADVANTAGES ================= */

/* ================= EMPLOYEES ================= */
.employees-section {
  background-color: #f7f7f7;
}

.employees-section-title {
  margin-bottom: 44px;
}

.employees {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.employees-card {
  flex-basis: calc((100% - 60px) / 3);
}

/* .employees-card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.employees-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.employees-content-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employees-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 8px;
}

.employees-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/* ================= /EMPLOYEES ================= */

/* ================= GALLERY ================= */
.gallery-suptitle {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-list-item {
  flex-basis: calc((100% - 90px) / 4);
}
/* ================= /GALLERY ================= */

/* ================= CONTACT INFO ================= */
.contact-list-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-dark);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}

.contact-info-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-dark);
}
/* ================= /CONTACT INFO ================= */

/* ================= FOOTER ================= */
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color-theme-dark);
}
/* ================= /FOOTER ================= */
