.page-header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-navigation {
  display: flex;
  align-items: center;
  column-gap: 70px;
}

.menu {
  display: flex;
  column-gap: 40px;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-text-color-theme-dark);
  transition: color var(--transition-dur-and-func);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-phone-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: 40px;
  color: var(--primary-text-color-theme-dark);
  transition: color var(--transition-dur-and-func);
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}
