.services {
  background-color: #111319;
  background-image: url('../images/services/bg.png');
  background-size: cover;
}

.services-table-wrapper {
  display: flex;
}

.services-table {
  flex-basis: 50%;
  padding: 30px 40px;
  margin-bottom: 50px;
}

.services-table:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services-table:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services-table-row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.services-table-row::before {
  content: '';
  flex-grow: 1;
  height: 1px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: rgba(157, 164, 189, 0.12);
}

.services-table-row:not(:last-child) {
  margin-bottom: 20px;
}

.services-table-name {
  order: -1;
}

.services-table-name,
.services-table-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-dark);
}

.services-modal-btn {
  display: block;
  margin: 0 auto;
}
