// 0px - 767px
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: bisque;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__container {
    position: relative;
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 48px;
    right: 15px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
