.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.section-description-theme-light {
  color: var(--secondary-text-color-theme-light);
}

.section-description-theme-dark {
  color: var(--secondary-text-color-theme-dark);
}
